body{
  font-family: Arial, sans-serif;
}
.fase1{
  width: 100%;
  height: 130px;
  margin-bottom: 10px;
  border-bottom: 4px solid rgb(152, 177, 207) ;
}

.empresa{
  display: block;
  font-size: 22px;
  color:rgb(0, 137, 13);
  margin-bottom: 10px;
}
.info_empresa{
  width: 70%;
  float: left;
  overflow: hidden;

}
.info_empresa span{
  display: block;
}
.logo_img{
  width: 30%;
  float: left;
  overflow: hidden;
}
.info th{
  padding: 5px;
}
.logo_img img{
  width: 100%;
}

/*fase 2*/
.fase2{
  width: 100%;
  height: 100px;

}
.cliente{
  width: 25%;
  float: left;
  overflow: hidden;
}
.cliente strong{

  display: block;
  text-align: center;
}
.vendedor{
  width: 25%;
  float:left;
  overflow: hidden;
}
.vendedor strong{

  display: block;
  text-align: center;
}
/*fase3*/
.fase3{
  width: 100%;
  overflow: hidden;
}
.table{
  width: 100%;
 border-collapse: collapse!important;

}
.table td{
  text-align: center;
border:1px solid rgb(152, 177, 207);
padding: 7px;

}
.info{
  background:rgb(152, 177, 207) ;
  border:1px solid rgb(152, 177, 207);
}
.marg{
  margin-top: 10px;
}
.cont{
  width: 60%;

}
.dat{
  border-bottom:1px solid rgb(152, 177, 207);
}
.cont th{
  text-align: right;
}
.cont td{
  text-align: right;
}

.fase7{
  width: 100%;
  overflow: hidden;
}
.fase7 table{
  width: 100%;
}
.fase7 table td{
  text-align: center;
}
.fase7 table{
  margin-bottom: 15px;
}
